<div>
  <h1>Search Horses</h1>
  <button (click)="loadAllHorses()">Show All Listings</button>
  <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="age">Age</label>
    <select id="age" name="age" ngModel>
      <option></option>
      <option value="3">3</option>
      <option value="6">6</option>
      <option value="9">9</option>
      <option value="12">12</option>
      <option value="15">15</option>
      <option value="18">18</option>
    </select>
    <label for="discipline">Discipline</label>
    <select id="discipline" name="discipline" ngModel>
      <option></option>
      <option value="Hunter">Hunter</option>
      <option value="Jumper">Jumper</option>
      <option value="Equitation">Equitation</option>
    </select>
    <label for="price range">Price</label>
    <select id="price" name="price" ngModel>
      <option></option>
      <option value="5000">5000</option>
      <option value="10000">10000</option>
      <option value="20000">20000</option>
      <option value="30000">30000</option>
      <option value="40000">40000</option>
      <option value="50000">50000</option>
    </select>
    <label for="height">Height</label>
    <select id="height" name="height" ngModel>
      <option></option>
      <option value="0-12.2">0-12.2</option>
      <option value="12.2-14.2">12.2-14.2</option>
      <option value="14.2-16.2">14.2-16.2</option>
      <option value="16.2-17.2">16.2-17.2</option>
      <option value="17.2-18">17.2 and up</option>
    </select>
    <button type="submit">Search</button>
  </form>
</div>

<router-outlet></router-outlet>
